body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav {
  background: black;
  padding: 15px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

header {
  background: #f4f4f4;
  padding: 20px;
}

input {
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px 15px;
  background: black;
  color: white;
  border: none;
}

.card {
  margin: 20px;
  display: inline-block;
}
